
body {
    background-color: #f07c7c;
    padding-left: 150px;
    padding-right: 150px;
}


.title {
    margin-top: 75px;
    font-family: 'Abril Fatface', cursive;
}

.title-text {
    font-size: 125px;
    font-weight: bold;
    color: #fff6b9;
    
}

.title-subText {
    color: #fff6b9;
    font-size: 50px;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
}

.subHeader{
    color: #fff6b9;
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
}

.subHeader-text{
    font-size: 20px;
    
}

.bottom{
    margin-bottom: 75px;

}